@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #fbf8f7;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  color: #484848;
}
